header{
    border: 5px double orange;
    height: 20%;
    text-align: center;
}
h1{
    text-decoration: 5px underline red;
}
#wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2%;
    margin: 1%;
    margin-left: 0%;
}
nav{
    flex-grow: 1;
    border: 5px double red;
}
article{
    flex-grow: 4;
    border: 5px double green;
}
aside{
    flex-grow: 2;
    border: 5px double blue;
}
footer{
    border: 5px double yellow;
}